<div class="story__group">
    <div class="doc doc_readMore doc_for_story">
        <div class="doc__content">
            <div class="doc__text">Клинский суд изъял в пользу государства имущество бывшего главы Клинского района Подмосковья Александра Постриганя на 9 млрд рублей. Об этом 17 сентября сообщает ТАСС со ссылкой на пресс-службу Генпрокуратуры РФ.</div><a class="link link_theme_grey link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.1102.1104","84=85,-aid=1013,76=undefined,-date=1568726747,82=1100"]' href="https://iz.ru/922492/2019-09-17/sud-izial-imushchestvo-eks-glavy-klinskogo-raiona-na-9-mlrd-rublei?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">
                <div class="doc__read">Читать в источнике</div>
            </a>
        </div>
    </div>
</div>

<div class="story__group story__group_type_root story__group_subtype_fine" id="1551">
    <div class="doc doc_for_root">
        <div class="doc__root-title">с чего всё началось</div><img alt="" class="image agency-icon" height="40" src="//avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square" width="40" />
        <div class="doc__head">
            <h2 class="doc__title"><a class="link link_theme_black link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.2178.1104.1978","-aid=1551,76=undefined,-date=1568725583"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">Суд изъял имущество экс-главы Клинского района Подмосковья на 9 млрд рублей</a></h2>
            <div class="doc__info"></div>
        </div>
        <div class="doc__content">
            <div class="doc__text">Клинский суд изъял в доход государства имущество бывшего главы Клинского района Подмосковья Александра Постриганя на 9 млрд рублей. Об этом ТАСС сообщили в пресс-службе Генпрокуратуры РФ.</div><a class="link link_theme_grey link_agency doc__info i-bem" data-bem='{"link":{}}' data-counter='["799.2178.1104.962","-aid=1551,76=undefined,-date=1568725583"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank"><span class="doc__agency">ТАСС</span><span class="doc__time">20:06</span></a>
        </div>
    </div>
</div>

<div class="story__group">
    <div class="doc doc_for_story"><img alt="" class="image agency-icon" height="30" src="//avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square" width="30" />
        <div class="doc__head">
            <h2 class="doc__title"><a class="link link_theme_black link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.919.1104","84=85,-aid=1551,-genre=2"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">Суд изъял имущество экс-главы Клинского района Подмосковья на 9 млрд рублей</a></h2>
            <div class="doc__info"><span class="doc__agency">ТАСС</span><span class="doc__time">20:06</span>
                <div class="settings-star settings-star_type_nofavorite settings-star_id_1551 i-bem" data-bem='{"settings-star":{"tooltip":true,"source":{"logo":"61287/1551-1488529537742-regular","name":"ТАСС","type":"agency","id":"1551","agency_id":"1551"},"counters":{"on":["799.919.1084","1933=10,84=85"],"off":["799.919.1084","1933=11,84=85"],"popupAdd":["799.919.1544.160"],"popupAfter":["799.919.1544.791"],"popupEnter":["799.919.1544.2568"],"popupOpen":["799.919.1544.487"],"popupHide":["799.919.1544.1656"],"settings":["799.919.1137"]}}}' title="Нравится издание? Добавьте в список ваших источников"></div>
            </div>
        </div>
    </div>
</div>





<div class="story__group">
    <div class="doc doc_readMore doc_for_story">
        <div class="doc__content">
            <div class="doc__text">Клинский суд изъял в пользу государства имущество бывшего главы Клинского района Подмосковья Александра Постриганя на 9 млрд рублей. Об этом 17 сентября сообщает ТАСС со ссылкой на пресс-службу Генпрокуратуры РФ.</div><a class="link link_theme_grey link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.1102.1104","84=85,-aid=1013,76=undefined,-date=1568726747,82=1100"]' href="https://iz.ru/922492/2019-09-17/sud-izial-imushchestvo-eks-glavy-klinskogo-raiona-na-9-mlrd-rublei?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">
                <div class="doc__read">Читать в источнике</div>
            </a>
        </div>
    </div>
</div>

<div class="story__group story__group_type_root story__group_subtype_fine" id="1551">
    <div class="doc doc_for_root">
        <div class="doc__root-title">с чего всё началось</div><img alt="" class="image agency-icon" height="40" src="//avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square" width="40" />
        <div class="doc__head">
            <h2 class="doc__title"><a class="link link_theme_black link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.2178.1104.1978","-aid=1551,76=undefined,-date=1568725583"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">Суд изъял имущество экс-главы Клинского района Подмосковья на 9 млрд рублей</a></h2>
            <div class="doc__info"></div>
        </div>
        <div class="doc__content">
            <div class="doc__text">Клинский суд изъял в доход государства имущество бывшего главы Клинского района Подмосковья Александра Постриганя на 9 млрд рублей. Об этом ТАСС сообщили в пресс-службе Генпрокуратуры РФ.</div><a class="link link_theme_grey link_agency doc__info i-bem" data-bem='{"link":{}}' data-counter='["799.2178.1104.962","-aid=1551,76=undefined,-date=1568725583"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank"><span class="doc__agency">ТАСС</span><span class="doc__time">20:06</span></a>
        </div>
    </div>
</div>

<div class="story__group">
    <div class="doc doc_for_story"><img alt="" class="image agency-icon" height="30" src="//avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square" width="30" />
        <div class="doc__head">
            <h2 class="doc__title"><a class="link link_theme_black link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.919.1104","84=85,-aid=1551,-genre=2"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">Суд изъял имущество экс-главы Клинского района Подмосковья на 9 млрд рублей</a></h2>
            <div class="doc__info"><span class="doc__agency">ТАСС</span><span class="doc__time">20:06</span>
                <div class="settings-star settings-star_type_nofavorite settings-star_id_1551 i-bem" data-bem='{"settings-star":{"tooltip":true,"source":{"logo":"61287/1551-1488529537742-regular","name":"ТАСС","type":"agency","id":"1551","agency_id":"1551"},"counters":{"on":["799.919.1084","1933=10,84=85"],"off":["799.919.1084","1933=11,84=85"],"popupAdd":["799.919.1544.160"],"popupAfter":["799.919.1544.791"],"popupEnter":["799.919.1544.2568"],"popupOpen":["799.919.1544.487"],"popupHide":["799.919.1544.1656"],"settings":["799.919.1137"]}}}' title="Нравится издание? Добавьте в список ваших источников"></div>
            </div>
        </div>
    </div>
</div>

<div class="story__group">
    <div class="doc doc_for_story"><img alt="" class="image agency-icon" height="30" src="//avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square" width="30" />
        <div class="doc__head">
            <h2 class="doc__title"><a class="link link_theme_black link_agency i-bem" data-bem='{"link":{}}' data-counter='["799.919.1104","84=85,-aid=1551,-genre=2"]' href="https://tass.ru/proisshestviya/6895062?utm_source=yxnews&amp;utm_medium=desktop&amp;utm_referrer=https%3A%2F%2Fyandex.ru%2Fnews" rel="noopener" tabindex="0" target="_blank">Суд изъял имущество экс-главы Клинского района Подмосковья на 9 млрд рублей</a></h2>
            <div class="doc__info"><span class="doc__agency">ТАСС</span><span class="doc__time">20:06</span>
                <div class="settings-star settings-star_type_nofavorite settings-star_id_1551 i-bem" data-bem='{"settings-star":{"tooltip":true,"source":{"logo":"61287/1551-1488529537742-regular","name":"ТАСС","type":"agency","id":"1551","agency_id":"1551"},"counters":{"on":["799.919.1084","1933=10,84=85"],"off":["799.919.1084","1933=11,84=85"],"popupAdd":["799.919.1544.160"],"popupAfter":["799.919.1544.791"],"popupEnter":["799.919.1544.2568"],"popupOpen":["799.919.1544.487"],"popupHide":["799.919.1544.1656"],"settings":["799.919.1137"]}}}' title="Нравится издание? Добавьте в список ваших источников"></div>
            </div>
        </div>
    </div>
</div>